@import 'assets/styles/mixins.scss';

.grid > div {
  position: relative;
  margin: auto;
  grid-gap: 1rem;
}

.headerButton {
  border-color: transparent;
  background-color: $craBlack;
  color: $niceGreen;
  font-weight: bold;
}

.headerButton:focus {
  background-color: $menuBg-darken;
  border-color: transparent;
  font-weight: bold;
  color: $niceGreen;
}

.headerButton:hover {
  background-color: $menuBg-darken;
  border-color: transparent;
  font-weight: bold;
  color: $niceGreen;
}
