@import 'assets/styles/mixins.scss';

.topbar {
  background: $black;
  padding: 0 rem(20);
  min-height: 64px;
  height: 64px;
  border-bottom: 1px solid $black-lighten-more;
  color: $text;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: right;
}
